WpfMediaPlayer/App.config
WpfMediaPlayer/bin/Debug/
Canvas/bin/Debug/
Canvas/obj/Debug/
SnapShot/bin/Debug/5cf34352-e4a8-40ef-819f-f910977b9662.jpg
SnapShot/obj/Debug/
SnapShot/bin/Debug/
WpfMediaPlayer/obj/Debug/
WpfMediaPlayer/.vs/WpfMediaPlayer/v15/Server/sqlite3/db.lock
WpfMediaPlayer/.vs/WpfMediaPlayer/v15/Server/sqlite3/storage.ide
